extends /layouts/application.pug

block content
  .wrapper.py-5.d-flex.align-content-center.flex-column
      .row.align-items-center.pl-3
        .col-0: img.avatar(src='https://instagram.frix7-1.fna.fbcdn.net/vp/0aeaad0986dee41e770f1bd03710ae6e/5CB7BBBE/t51.2885-19/s150x150/47060312_370620460354300_7006883112109998080_n.jpg?_nc_ht=instagram.frix7-1.fna.fbcdn.net')
        .col-4: strong Ildar Gilfanov.
        .col.d-flex.justify-content-end: ul.nav
          li.nav-item.mr-1: a(href='https://github.com/rabinzon').p-1.nav-link.text-dark: h4.mb-0: .fab.fa-github
          li.nav-item.mr-1: a(href='https://twitter.com/Ildar_Razin').p-1.nav-link.text-dark: h4.mb-0: .fab.fa-twitter
          li.nav-item.mr-1: a(href='https://www.instagram.com/rabinzonch').p-1.nav-link.text-dark: h4.mb-0: .fab.fa-instagram
      h3.mt-5.pl-1 I'm,
      h1.title.text-left.mb-3 Full-stack JavaScript developer.
      h3.description I can build services with&nbsp;
        a(href='https://koajs.com') koa
        | &nbsp;/&nbsp;
        a(href='https://expressjs.com') express
        |,&nbsp; chat bots, SPA with&nbsp;
        a(href='https://reactjs.org') react
        | &nbsp;/&nbsp;
        a(href='https://github.com/vuejs/vue') vue
        |,&nbsp; SSR, CLI tools, databases with&nbsp;
        a(href='https://github.com/postgres/postgres') postgres
        | &nbsp;/&nbsp;
        a(href='https://github.com/mongodb/mongo') mongodb
        |,&nbsp; and deploy with&nbsp;
        a(href='https://www.docker.com') docker
        | &nbsp;&&nbsp;
        a(href='https://www.ansible.com') ansible
        | &nbsp;🚀

      h3.mt-4.title My home projects:

      a(href='https://bts.tatar')
        img.mr-1(alt="" src="http://s2.googleusercontent.com/s2/favicons?domain_url=https://bts.tatar")
        span bts.tatar

      a(href='https://read-quran.ru')
        img.mr-1(alt="" src="http://s2.googleusercontent.com/s2/favicons?domain_url=https://read-quran.ru")
        span read-quran.ru

      a(href='http://app-tasker.herokuapp.com/')
        img.mr-1(alt="" src="http://s2.googleusercontent.com/s2/favicons?domain_url=http://app-tasker.herokuapp.com/")
        span app-tasker.herokuapp.com
