NODE_ENV={{ node_env }}

ILDAR_GILFANOV_PORT={{ ildar_gilfanov_port }}
ILDAR_GILFANOV_ENV_FILE={{ ildar_gilfanov_env_file }}
ILDAR_GILFANOV_RUN_USER={{ ildar_gilfanov_run_user }}
ILDAR_GILFANOV_DOCKER_NETWORK={{ ildar_gilfanov_docker_network }}
ILDAR_GILFANOV_DOCKER_IMAGE={{ ildar_gilfanov_docker_image }}

SENTRY_TOKEN={{ sentry_token }}
